.profile__heading {
  display: flex;
  align-items: baseline;
  gap: 18px;
  align-self: end;
  min-width: 450px;
}
@media screen and (max-width: 768px) {
  .profile__heading {
    gap: 10px;
    min-width: 282px;
    justify-content: center;
    padding-top: 12px;
  }
}
