.body {
  background-color: #000000;
}

.page {
  min-width: 320px;
  max-width: 1280px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  color: #ffffff;
}

.header {
  max-width: 880px;
  margin-right: 200px;
  margin-left: 200px;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
.header__logo {
  color: #ffffff;
  max-width: 142px;
  padding-bottom: 41px;
}

.profile {
  max-width: 880px;
  display: flex;
  margin-right: 200px;
  margin-left: 200px;
  padding-top: 40px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  justify-content: space-between;
}

.profile__avatar {
  border-radius: 100px;
  height: 120px;
  max-width: 120px;
}
.profile__logo-wrapper {
  grid-row: span 2;
}

.profile__info {
  align-items: center;
  column-gap: 30px;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  row-gap: 8px;
}
.profile__heading {
  display: flex;
  align-items: baseline;
  gap: 18px;
  align-self: end;
}
.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
}

.profile__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  align-self: start;
}
.profile__edit-btn {
  cursor: pointer;
  height: 24px;
  width: 24px;
}
.profile__add-btn {
  align-self: center;
  max-width: 150px;
  height: 50px;
}

.elements {
  max-width: 880px;
  margin-right: 200px;
  margin-left: 200px;
  padding-top: 51px;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #000000;
}
.cards {
  grid-auto-flow: row;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  column-gap: 17px;
  row-gap: 20px;
  list-style-type: none;
  padding: 0;
}
.element {
  max-width: 282px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
  border-radius: 10px;
}
.elements__mask-group {
  width: 100%;
  object-fit: cover;
}
.elements__title {
  display: flex;
  justify-content: space-between;
}
.elements__group {
  object-fit: cover;
}
.elements__group {
  object-fit: cover;
}
.footer {
  max-width: 880px;
  margin-right: 200px;
  margin-left: 200px;
  padding-top: 67px;
  padding-bottom: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}
